extends layout

block content
	.fundament
	.container.head-page
		h1 Find Person
		form
			.form-group
				label.col-lg-2.control-label(for='select') Пол
				.col-lg-10
				select#select.form-control
					option Мужчина
					option Женщина
			.form-group
				label.col-lg-2.control-label(for='select') Пол
				.col-lg-10
				select#select.form-control
					option Мужчина
					option Женщина
