extends layout

block content
	.jumbotron	
		h1= title
		p Welcome to #{title}
		button(id="registration" href="/registration") Registration New Person
		a(href="/registration") Registration New Person
