extends layout

block content
	.fundament
	.container.head-page
		.jumbotron.opacity-zero
			h1= title
			.row
				.col-md-4
					a(class="btn btn-default" href="/registration") Регистрация нового человека
				.col-md-4
					a(class="btn btn-default" href="/persons") Список персон
				.col-md-4
					a(class="btn btn-default" href="/find-person") Поиск по критериям
