extends layout

block content
	.fundament
	.container.head-page
		.jumbotron
			h1= title
			p Welcome to #{title}
			.row
				.col-md-6
					a(class="btn btn-default" href="/registration") Registration New Person
				.col-md-6
					a(class="btn btn-default" href="/persons") Person List
