extends layout

block content
  h1 Registration Person
  form.form-horizontal
    fieldset
      legend Анкета 

      .form-group
        label.col-lg-2.control-label(for='inputName') Имя 
        .col-lg-10
          input#inputName.form-control(name='name', type='text', placeholder='ИМЯ')
        label.col-lg-2.control-label(for='inputSurname') Фамилия 
        .col-lg-10
          input#inputSurname.form-control(name='surname', type='text', placeholder='ФАМИЛИЯ')
        label.col-lg-2.control-label(for='inputFathname') Отчество 
        .col-lg-10
          input#inputFathname.form-control(name='fathname', type='text', placeholder='ОТЧЕСТВО')
        label.col-lg-2.control-label(for='inputEmail') Email
        .col-lg-10
          input#inputEmail.form-control(type='text', placeholder='Email')
      .form-group
        label.col-lg-2.control-label Пол 
        .col-lg-10
          .radio.col-xs-offset-2.col-xs-4
            label
              input#optionsRadios1(type='radio', name='sex', value='m', checked='')
              | Мужчина 
          .radio.col-xs-4
            label
              input#optionsRadios2(type='radio', name='sex', value='g')
              | Женщина

      .form-group
        label.col-lg-2.control-label(for='inputDate') Дата рождения 
        .col-lg-10
          input#inputItem.form-control(type='date', name='date', placeholder='Дата рождения')
     -var list = ['Дата рождения', 'Национальность', 'Телефон', 'Место жительства', 'Светское образование', 'Профессия', 'Место работы', 'Вероисповедание', 'Религиозное образование', 'Соблюдение религиозных предписаний', 'Носите ли Вы хиджаб или бороду', 'Рост', 'Вес', 'Характер', 'Увлечения', 'Состоите ли Вы в браке', 'Дети','---------- Требования', 'Возраст от и до', 'Рост', 'Вес', 'Национальность', 'Светское образование', 'Вероисповедание', 'Религиозное образование', 'Соблюдение религиозных предписаний', 'Ношение хиджаба или бороды', 'Характер', 'Дополнительно']
      each item in list
        .form-group
          label.col-lg-2.control-label(for='inputItem')= item 
          .col-lg-10
            input#inputItem.form-control(type='text', placeholder='#{item}')

      .form-group
        .checkbox
          label
            input(type='checkbox')
            |  Checkbox
      |     
      .form-group
        label.col-lg-2.control-label(for='textArea') Textarea
        |       
        .col-lg-10
          textarea#textArea.form-control(rows='3')
          |         
          span.help-block
            | A longer block of help text that breaks onto a new line and may extend beyond one line.
      |     
      .form-group
        label.col-lg-2.control-label(for='select') Selects
        |       
        .col-lg-10
          select#select.form-control
            option 1
            |           
            option 2
            |           
            option 3
            |           
            option 4
            |           
            option 5
          |         
          br
          |         
          select.form-control(multiple='')
            option 1
            |           
            option 2
            |           
            option 3
            |           
            option 4
            |           
            option 5
      |     
      .form-group
        .col-lg-10.col-lg-offset-2
          button.btn.btn-default(type='reset') Cancel
          |         
          button.btn.btn-primary(type='submit' formmethod="post") Submit
