$mar_color:  #FF5722
body
  padding: 50px
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: $mar_color 
  color: #fff

.jumbotron
	background-color: $mar_color

// form.jumbotron
	// background-color: #fff

// // a
//   color: #00B7FF
